<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v5.0" sku=".NETFramework,Version=v5.0" />
    </startup>
	<appSettings>
		<add key = "first" value = "Band"/>
		<add key = "second" value = "Artist"/>
		<add key = "firstFKColumnName" value = "Band_id"/>
		<add key = "secondFKColumnName" value = "Band_id"/>
		<add key = "foreignKey" value = "FK__Artist__Band"/>
	</appSettings>
</configuration>


<!--

<add key = "first" value = "Category"/>
<add key = "second" value = "Song_Category"/>
<add key = "firstFKColumnName" value = "Category_id"/>
<add key = "secondFKColumnName" value = "Category_id"/>
<add key = "foreignKey" value = "FK__Song_Category"/>

<add key = "first" value = "Band"/>
<add key = "second" value = "Artist"/>
<add key = "firstFKColumnName" value = "Band_id"/>
<add key = "secondFKColumnName" value = "Band_id"/>
<add key = "foreignKey" value = "FK__Artist__Band"/>
		
		
-->