nav {
  display: flex;
  flex-direction: column;
  margin-left: calc(var(--unit) * 5);
  margin-right: calc(var(--unit) * 5);
}
nav a {
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

button {
  margin-top: 20px;
  font-family: Arial, serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.right {
  position: absolute;
  right: calc(var(--unit));
}
.bottom {
  position: absolute;
  bottom: calc(var(--unit));
}

